#Onboarding
#AWS
create_infra = true
create_eks_cluster = true

#Global
project_prefix = ""
resource_owner = ""
admin_src_addr  = ""

#AWS INFRA

aws_region     = ""
azs           = ["", ""]
vpc_cidr_block = ""


#AWS EKS - Only needed if using an existing VPC
vpc_id = ""
eks_cidr = ""
vpc_main_route_table_id  = ""
nat_gateway_id = ""
public_subnet_ids = [ "blah" ]